@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-group {
    @apply flex flex-col gap-4;
  }

  .form-group label {
    @apply font-medium;
  }

  .form-auth {
    @apply flex flex-col gap-4 shadow-md p-8 rounded-lg bg-white z-10;
  }

  .btn-primary {
    @apply bg-main-blue text-white py-2 px-6 shadow-md transition-all rounded hover:shadow-none cursor-pointer;
  }

  .btn-warning {
    @apply bg-warning text-white py-2 px-6 shadow-md transition-all rounded hover:shadow-none cursor-pointer;
  }

  .btn-secondary {
    @apply bg-main-orange text-white py-2 px-6 shadow-md transition-all rounded hover:shadow-none cursor-pointer;
  }

  .card-container {
    @apply flex-col gap-6 shadow-md p-8 rounded-lg bg-white z-10 cursor-pointer transition-shadow;
  }
}

* {
  scroll-behavior: smooth;
}

.dropdown.active > .link,
.link:hover {
  opacity: 0.8;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0px;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.hiddenDropdown {
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
}
