.register-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.register-screen__title {
  font-size: 2.5rem;
}

.register-screen__logo {
  min-width: 200px;
  width: 15%;
  position: absolute;
  top: 0;
}

.register-screen__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.25);
}

.form-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.form-group label {
  font-size: 1.5rem;
}

.form-group input {
  all: unset;
  border: none;
  border-bottom: 1px solid black;
}

.register-screen__forgotpassword {
  font-size: italic;
}
